### Data checking

In [6]:
import pandas as pd

In [7]:
path_data = "./data/BRFSS-2015_binary.csv"
df0 = pd.read_csv(path_data)

In [8]:
df0.head()

,Diabetes_binary,HighBP,HighChol,CholCheck,BMI,Smoker,Stroke,HeartDiseaseorAttack,PhysActivity,Fruits,...,AnyHealthcare,NoDocbcCost,GenHlth,MentHlth,PhysHlth,DiffWalk,Sex,Age,Education,Income
0,0.0,1.0,1.0,1.0,40.0,1.0,0.0,0.0,0.0,0.0,...,1.0,0.0,5.0,18.0,15.0,1.0,0.0,9.0,4.0,3.0
1,0.0,0.0,0.0,0.0,25.0,1.0,0.0,0.0,1.0,0.0,...,0.0,1.0,3.0,0.0,0.0,0.0,0.0,7.0,6.0,1.0
2,0.0,1.0,1.0,1.0,28.0,0.0,0.0,0.0,0.0,1.0,...,1.0,1.0,5.0,30.0,30.0,1.0,0.0,9.0,4.0,8.0
3,0.0,1.0,0.0,1.0,27.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,0.0,0.0,0.0,0.0,11.0,3.0,6.0
4,0.0,1.0,1.0,1.0,24.0,0.0,0.0,0.0,1.0,1.0,...,1.0,0.0,2.0,3.0,0.0,0.0,0.0,11.0,5.0,4.0

#### Dimension

In [5]:
print(f"Number of rows: {df0.shape[0]}")
print(f"Number of columns: {df0.shape[1]}")

Number of rows: 251702
Number of columns: 22

### Data type

In [9]:
df0.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 251702 entries, 0 to 251701
Data columns (total 22 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Diabetes_binary       251702 non-null  float64
 1   HighBP                251702 non-null  float64
 2   HighChol              251702 non-null  float64
 3   CholCheck             251702 non-null  float64
 4   BMI                   251702 non-null  float64
 5   Smoker                251702 non-null  float64
 6   Stroke                251702 non-null  float64
 7   HeartDiseaseorAttack  251702 non-null  float64
 8   PhysActivity          251702 non-null  float64
 9   Fruits                251702 non-null  float64
 10  Veggies               251702 non-null  float64
 11  HvyAlcoholConsump     251702 non-null  float64
 12  AnyHealthcare         251702 non-null  float64
 13  NoDocbcCost           251702 non-null  float64
 14  GenHlth               251702 non-null  float64
 15  MentHlth              251702 non-null  float64
 16  PhysHlth              251702 non-null  float64
 17  DiffWalk              251702 non-null  float64
 18  Sex                   251702 non-null  float64
 19  Age                   251702 non-null  float64
 20  Education             251702 non-null  float64
 21  Income                251702 non-null  float64
dtypes: float64(22)
memory usage: 42.2 MB

### Missing data

In [10]:
df0.isnull().mean() * 100

Diabetes_binary         0.0
HighBP                  0.0
HighChol                0.0
CholCheck               0.0
BMI                     0.0
Smoker                  0.0
Stroke                  0.0
HeartDiseaseorAttack    0.0
PhysActivity            0.0
Fruits                  0.0
Veggies                 0.0
HvyAlcoholConsump       0.0
AnyHealthcare           0.0
NoDocbcCost             0.0
GenHlth                 0.0
MentHlth                0.0
PhysHlth                0.0
DiffWalk                0.0
Sex                     0.0
Age                     0.0
Education               0.0
Income                  0.0
dtype: float64

* No missing value